<nav class="navbar navbar-expand-lg headerColor">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
    <div class="active">
      <nav>
        <a class="navbar-brand" routerLink="">CodePlace<!-- <img src="assets/img/logo.png"> --></a>
      </nav>
    </div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <nav>
                  <!-- TODO: add class active on click to be visible -->
                    <a routerLink="/browse" class="nav-link">
                      <i class="fa fa-search" aria-hidden="true"></i> BROWSE CODES
                    </a>
                </nav>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">REQUEST CODES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SELL CODE</a>
              </li>
              <li class="nav-item">
                  <nav>
                    <!-- TODO: add class active on click to be visible -->
                      <a *ngIf="isLogin" routerLink="/cart" class="nav-link">
                        CART <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span >{{cart_qty}}</span>
                      </a>
                      <a *ngIf="!isLogin" routerLink="/signin" class="nav-link">
                        CART <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </a>
                  </nav>
              </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
        <!--  
            <nav>
                <a routerLink="/welcome" class="btn btn-header m-r-25">SIGN IN/UP</a>
            </nav>
        -->
        <div *ngIf="!isLogin" class="dropdown">
          <button type="button" class="btn btn-header m-r-25 dropdown-toggle" data-toggle="dropdown">
            SIGN UP
          </button>
          <div class="dropdown-menu">
            <nav>
              <a class="dropdown-item" routerLink="/signup" >SIGN UP</a>
              <a class="dropdown-item" routerLink="/signin">SIGN IN</a>
            </nav>
          </div>
        </div>
        <div *ngIf="isLogin" class="dropdown">
          <p><span class="btn btn-header m-r-25">{{welcomeUserName}}</span></p>
        </div>
        
        <button type="button" class="btn btn-header nav-header" onclick="myFunction()">
          <i class="fa fa-search"></i>
        </button>
        <div id="myDIV">
          <form>
            <div class="input-group searchbox mb-3">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
          </div>
        </form>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-header nav-header dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
        </button>
        <div class="dropdown-menu lastmenu">
          <a class="dropdown-item" href="signup.html"></a>
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>
      <div class="dropdown">
        <button type="button" class="btn btn-header nav-header dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i>
        </button>
        <div *ngIf="isLogin" class="dropdown-menu lastmenu">
          <nav>
            <a (click)="logout()" routerLink="" class="dropdown-item">Logout</a>
          </nav>
        </div>
    </div>
    </div>
  </div>
</nav>
<!--================================ Header End ===========================-->