
	<!--================================== Footer ============================ -->
	<footer class="footer-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-6 col-sm-6 col-lg-3">
					<div class="footer-section">
						<div class="title-menu">
							<p>CONTACT US</p>
						</div>
						<div class="footer-menu">
							<ul>
								<li>
									<a href="#">+31(0)000000000 </a>
								</li>
								<li>
									<a href="#">codeplace@mail.com </a>
								</li>
								<li>
									<a href="#">Rotterdam </a>
								</li>
								<li>
									<a href="#">Den Haag </a>
								</li>
								<li>
									<a href="#">3020 AB</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-sm-6 col-lg-3">
					<div class="footer-section">
						<div class="title-menu">
							<p>SERVICES</p>
						</div>
						<div class="footer-menu">
							<ul>
								<li>
									<a href="#">Contact Us </a>
								</li>
								<li>
									<a href="#">Ordering & Payment </a>
								</li>
								<li>
									<a href="#">Shipping  </a>
								</li>
								<li>
									<a href="#">Returns</a>
								</li>
								<li>
									<a href="#">FAQ</a>
								</li>
								<li>
									<a href="#">Guide</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-sm-6 col-lg-3">
					<div class="footer-section">
						<div class="title-menu">
							<p>INFORMATION</p>
						</div>
						<div class="footer-menu">
							<ul>
								<li>
									<a href="#">Work for us </a>
								</li>
								<li>
									<a href="#">Privacy Policy </a>
								</li>
								<li>
									<a href="#">Terms & Conditions</a>
								</li>
								<li>
									<a href="#">Press Enquiries</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-sm-6 col-lg-3">
					<ul class="social-icon">
						<li>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>