body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: #4F4F4F;
}
.row{
	margin: 0px;
}
.headerColor{
	background-color: #00092B;
	height: 99px;
	    box-shadow: 0px 10px 6px #373e58a1;
}
a.navbar-brand {
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}
.active .navbar-brand{
	border:1px solid #fff;
}
.navbar-brand img{
	width: 100%;
}
.nav-link {
	color: #fff;
	text-transform: uppercase;
}
.navbar-toggler{
	border: 1px solid white;
}
.navbar-toggler-icon i{
	padding-top: 5px;
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.nav-item a i{
	margin-left: 5px; 
}
.btn.btn-header {
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 10px 25px;
    font-size: 12px;
    background-color: transparent;
    text-transform: uppercase;
}
ul.iconmenu {
    padding: 0;
    margin: 10px 0px;
}
.iconmenu li{
	list-style: none;
	float: left;
}
.iconmenu li a {
	color: #fff;
	padding: 15px;
}
.m-r-25{
	margin-right: 25px !important;
}

.footer-bg{
	padding: 50px 0px;
    background-color: #00092B;
}
.footer-section {
    display: flex;
}
.title-menu p{
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}
.footer-menu ul{
	margin: 0px;
}
.footer-menu ul li{
	list-style: none;
}
.footer-menu ul li a{
	color: #fff;
	font-size:11px;
}
.social-icon {
	margin: 0px;
}
.social-icon li{
	list-style: none;
	float: right;
}
.social-icon li a{
	color: #fff;
	font-size: 26px;
	padding: 0px 15px;
}

.sign-box {
    border: 1px solid #70707061;
    border-radius: 16px;
    padding: 25px;
    width: 55%;
    margin: 0 auto;
}
.sign-box h1{
	font-size: 48px;
	margin-bottom: 50px;
	color: #707070;
	font-weight: 300;
}
.sign-box p{
	margin-bottom: 50px;
	color: #707070;
	font-weight: 300;
	font-size: 28px;
}
.big-title {
    text-align: center;
   	margin-bottom: 30px;
   	color: #3659df;
   	font-size: 64px;
}
.p-tb-70{
	padding: 70px 0px;
}
.btn.btn-botton-l {
    background-color: #00092b;
    border-radius: 0px;
    color: #fff;
    border: 1px solid #707070;
}
.btn.btn-botton-r {
    border: 1px solid #707070;
    color: #4F4F4F;
    border-radius: 0px;
}
.p-n {
    padding: 10px 0px;
    width:49%;
}
.height-75{
	height: 75px;
}

.btn-blue{
	background-color: #3659DF;
	border:1px solid #707070;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	border-radius: 41px;
	    padding: 18px 40px;
	box-shadow: 0px 6px 6px #0000002e;
}
.btn-blue:hover{
    color: #fff;
    text-decoration: none;
}
.p-l-60{
	padding-left: 60px;
}
.normal-text {
    color: #4F4F4F;
    font-size: 36px;
    padding: 60px 0px 30px 0px;
        line-height: initial;
}
.mini-text{
	color: #4F4F4F;
	font-size: 20px;
	padding-top: 80px;
}
.btn-p{
	padding:18px 48px;
	font-size:16px;
	margin-right:15px;
	box-shadow: 0px 6px 6px #0000002e;
	text-transform: uppercase;
}



.seller-title{
	font-size: 26px;
	font-weight: 300;
}
.seller-title span{
	font-weight: 400;
}
#seller label{
	font-size: 28px;
	font-weight: 300;
    text-align: right;
    padding-right: 25px;
    padding-top: 13px;
}
#seller .tab {
  	display: none;
  	
}
.widthfix{
	width: 50%;
    margin: 0 auto;
}
.w-74{
	width:74%;
}
.p-b-80{
	padding-bottom: 80px;
}
.p-tb-90{
	padding:90px 0px !important;
}
/*= input focus effects css
=========================== */
:focus{outline: none;}

.col3{ 
	position: relative;
	margin: 10px 0px;
	padding: 0;
} 
input[type="text"]{
	width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
}
#nextBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}
#nextBtn img{
	width:40%;
}
.p-60{
	padding:60px 15px;
}
#nextBtn span{
	background: #3659DF;
    border: 1px solid #707070;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    font-weight: 300;
    border-radius: 41px;
        position: absolute;
    right: 20%;
        margin-top: -80px;
}
#nextBtn:focus{
	border:none;
	box-shadow: none;
	outline: none;
}
.effect-2{
	border: 0; 
	padding: 7px 0; 
	border-bottom: 1px solid #707070;
	border-radius: 0;
	font-size:16px;
}
.effect-2 ~ .focus-border{
	position: absolute; 
	bottom: 0; 
	left: 50%; 
	width: 0; 
	height: 2px; 
	background-color: #00092B; 
	transition: 0.4s;
}
.effect-2:focus ~ .focus-border{
	width: 100%; 
	transition: 0.4s; 
	left: 0;
}
.effect-2:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.m-t-90{
	margin-top: 90px;
}


.file-upload {
    display: none;
}
.circle {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
        margin: 0 auto;
}
.p-image {
    width: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 50%;
    padding: 9px;
    background: #f1f3ff;
    position: absolute;
    top: 27%;
    right: 40%;
    color: #00092B;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    box-shadow: 0px 6px 6px #00000030;
}
.change-pic{
	font-size:16px;
	font-weight: 300;
	padding-top:25px;
	width:100%;
	    color: #4F4F4F;
}
.profile-pic{
	width: 128px;
    height: 128px;
    object-fit: cover;
}
.border-right{
	border-right: 1px solid;
}
.profile-pic.rounded-circle{
	margin-bottom:30px;
}
.p-tb-30{
	padding:30px 0px;
}
.lb-p{
	padding: 25px 0px 0px 25px;
	    text-align: left !important;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 20px;
}
#seller .label{
	width:100%;
	text-align: center;
	font-size: 28px;
    font-weight: 300;
    padding-right: 0px;
}
.small-12.medium-2.large-2.columns {
    padding: 30px 0px 90px 0px;
}
.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}


.bg-color{
	background-color: #f6f6f6;
}
.b-title {
    color: #919191;
    font-size: 48px;
}
.buyer-left h3 {
    color: #919191;
    font-size: 48px;
    font-weight: 300;
    padding-top: 15px;
}
.b-mini-title {
    font-size: 21px;
    padding-top: 60px;
}
.b-mini-title a{
	color: #3659DF;
}
.signup-title {
    text-align: center;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 0.5px solid #707070;
}
.buyer-right {
	border-radius: 20px;
    padding: 15px 50px;
    background: #fff;
    box-shadow: 0px 6px 10px #4969e25e;
}
.buyer-left{
	    padding: 150px 0px;
}
form{
	width:100%;
}
form.sign-form {
    padding: 20px 0px;
}
.sign-form label{
	font-size:16px;
	font-weight: 300;
	margin-bottom: 0;
}
.sign-form .form-control{
	background: #F6F6F6;
    border-bottom: 1px solid transparent;
    border:none;
    border-radius: 0;
    box-shadow: 0px 3px 6px #00000021;
}
.sign-form label.form-check-label {
    font-size: 12px;
}
.sign-form .form-check {
    padding: 20px 0px 0px 20px;
}
.sign-form .btn-create-ac{
	background-color: #00092B;
	border:1px solid #707070;
	border-radius: 32px;
	color: #fff;
	font-size: 15px;
	padding: 11px 40px;
}
.sign-form .form-group{
	margin-bottom:30px;
	position: relative;
}
.sign-form .form-control:focus{
	border-bottom: 1px solid #707070;
	background-color: #fff;
	box-shadow: none;
}
.sign-form .custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-bottom:1px solid #dc3545;
}
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
   border-bottom:1px solid #28a745;
}
.sign-form .custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #dc3545;
    box-shadow: none;
}
.sign-form  .custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    border-color: #28a745;
    box-shadow: none;
}


.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    top: 28%;
    right: 6%;
    width: auto;
    margin-top: 8px;
}
.profileimg {
    text-align: center;
    padding: 35px 0px;
}
.forget{
	margin-top: -25px;
    margin-bottom: 50px;
}
.forget a{
    color: #3659DF;
    font-size: 12px;
    margin-top: 0px;
        
}
.signuph p{
	font-size: 12px;
    text-align: center;
    color: #000;
    margin-bottom:0px;
}
.signuph p a{
	color: #3659DF;
}
.signuph {
    margin-top: 20px;
}
.nav-item.active a{
    border:1px solid #fff;
    border-radius: 22px;
}

.has-search .form-control {
    height: 45px;
    border: 1px solid transparent;
    border-radius: 22px;
    padding-left: 2.375rem;
    box-shadow: 0px 3px 6px #00000036;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding:3px;
    color: #000;
}
.form-group.has-search{
    position: relative;
}
.serbtn{
    position: absolute;
        right: 0;
    top: 1px;
}
.serbtn button.btn.btn-secondary {
    border-radius: 17px;
    margin: 5px 0px;
        padding: 5px 15px;
    font-size: 14px;
}
.s-btn-l{
    margin-right:7px !important;
    background-color: #00092B;
    color: #fff;
}
.s-btn-r{
    margin-right:7px !important;
    border-color: #000;
    background-color: #fff;
    color: #000;
}



 .button-switch {
    margin-top: 10px;
     font-size: 16px;
    position: relative;
    width: 4.5em;
}
 .button-switch .lbl-off, .button-switch .lbl-on {
     cursor: pointer;
     display: block;
     font-size: 0.9em;
     font-weight: bold;
     line-height: 1em;
     position: absolute;
     top: 0.5em;
     transition: opacity 0.25s ease-out 0.1s;
     text-transform: uppercase;
}
 .button-switch .lbl-off {
     right: 13px;
     color: #fff;
}
 .button-switch .lbl-on {
     color: #fefefe;
     opacity: 0;
     left: 0.4375em;
}
 .button-switch .switch {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     height: 0;
     font-size: 1em;
     left: 0;
     line-height: 0;
     outline: none;
     position: absolute;
     top: 0;
     width: 0;
}
 .button-switch .switch:before, .button-switch .switch:after {
     content: '';
     font-size: 1em;
     position: absolute;
}
 .button-switch .switch:before {
     border-radius: 22px;
     background: #C6C6C6;
     height: 32px;
     left: -0.25em;
     top: -0.1875em;
     transition: background-color 0.25s ease-out 0.1s;
     width: 4.5em;
}
 .button-switch .switch:after {
     box-shadow: 0 0.0625em 0.375em 0 #666;
     border-radius: 50%;
     background: #fefefe;
     height: 1.5em;
     transform: translate(0, 0);
     transition: transform 0.25s ease-out 0.1s;
     width: 1.5em;
}
 .button-switch .switch:checked:after {
     transform: translate(2.5em, 0);
}
 .button-switch .switch:checked ~ .lbl-off {
     opacity: 0;
}
 .button-switch .switch:checked ~ .lbl-on {
     opacity: 1;
}
 .button-switch .switch#switch-blue:checked:before {
     background: #3659DF;
}
.code {
    margin-top: 10px;
        margin-right: 35px;
}
.code a {
    background-color: #00092B;
    color: #fff;
    padding: 10px 35px 10px 20px;
    border-radius: 22px;
    font-size: 13px;
    box-shadow: 0px 3px 6px #00000036;
    font-weight: 500;
}
.code a i {
    position: absolute;
    border: 4px solid #fff;
    padding: 8px;
    font-size: 13px;
    background-color: #00092B;
    margin-top: -7px;
    border-radius: 50%;
    margin-left: 7px;
}
.display-flax{
    display: flex;
}
.signin-page .valid-feedback.feedback-icon, .invalid-feedback.feedback-icon{
    top:4%;
}

.bg-color-2{
    background-color: #f9fafe;
}
.MultiCheckBox {
    border-radius: 5px !important;
    border: 1px solid #0000005c;
    cursor: pointer;
    background-color: #fff;
        padding: 10px 15px;
        color: #00092B;
}
.MultiCheckBox .k-icon{ 
    float: right;
} 
.MultiCheckBox .k-icon i {
    color: #00092B;
    font-size: 22px;
}

.MultiCheckBoxDetail {
    width: 230px !important;
    z-index: 999;
    background-color: #fff;
    display:none;
    position:absolute;
    border:1px solid #CCCCCC;
    overflow-y:hidden;
    border-radius: 5px;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

.MultiCheckBoxDetail .cont  {
    clear:both;
    overflow: hidden;
    padding:5px 10px;
}

.MultiCheckBoxDetail .cont:hover  {
    background-color:#cfcfcf;
}

.MultiCheckBoxDetailBody > div > div {
    float:left;
    margin-left: 10px;
}
.MultiCheckBoxDetailHeader {
    position:relative;
    height: 28px;
}
.MultiCheckBoxDetailHeader>input {
    position: absolute;
    top: 4px;
    left: 3px;
}
.MultiCheckBoxDetailHeader>div {
    position: absolute;
    top: 5px;
    left: 24px;
    color:#00092B;
}
.p-tb-30{
    padding: 30px 15px;
}
.img-box img{
    width: 100%;
        border-radius: 10px;
}
.img-box{
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000036;
    position: relative;
}
.paymentbox .img-box{
    height: auto;
}
.imgcode {
    position: absolute;
    margin-left: 10px;
    top: 8px;
}
.imgcode a{
    background: #F1F3FF;
    color: #3659DF;
    box-shadow: none;
        font-weight: 500;
}
.imgcode a i{
    background: #F1F3FF;
    padding: 10px;
    font-size: 13px;
    margin-top: -4px;
    box-shadow: 0px 3px 6px #00000036;
    border: none;
}
.btn-addtocart{
    text-transform: uppercase;
    position: absolute;
    background:#00092B;
    box-shadow: 0px 3px 6px #00000036;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 20px;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
}

.p-name{
    color: #00092B;
    font-size: 21px;
    font-weight: 500;
}
.p-name:hover{
    color: #00092B;
    text-decoration: none;
}
.p-d-text{
    color: #00092B;
    font-size: 12px;
}
.p-d-text span{
    font-weight: 500;
}
.product-details {
    display: flex;
}
.p-price{
    float: right;
    color: #00092B;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.p-save{
    float: right;
    width:100%;
}
.p-save img{
    float:right;
}
.p-price img{
    margin-left:5px;
}
.float-left.w-70{
    width:70%;
}
.float-right.w-30{
    width:30%;
}
.product-details{
    margin-top:15px;
}
.product-box {
    margin: 15px;
}

.minittextbox {
    width: 40px !important;
    text-align: center;
    border-radius: 0px;
    border: 1px solid #ccc;
}
.minitbox {
    margin: 0px 15px;
    height: 46px;
    width: 265px;
    display: flex;
    border-radius: 5px !important;
    border: 1px solid #0000005c;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 15px;
    color: #00092B;
}
.text-m{
	margin-left: 10px;
}
.text-m p {
    margin-bottom: 0;
    margin: 3px 10px 0px 10px;
}
.text-m span{
    font-size: 12px;
    color: #ccc;
    margin: 10px;
}
.filter-row{
    display: flex;
}
.breadcrumb-new .breadcrumb {
    font-size: 14px;
    background-color: transparent;
    color: #000;
    font-weight: 500;
}
.breadcrumb-new .breadcrumb li a {
    color: #000;
}
.breadcrumb-item+.breadcrumb-item::before{
   font-family: FontAwesome;
    content: "\f105";
}
.user-img img{
    width: 254px;
    height: 254px;
    margin-bottom: 25px;
}
.border-bottom, .border-right{
    border-color: #707070 !important;
}
.product-name h3 {
    color: #3659DF;
    font-size: 32px;
        margin-bottom: 0;
}
.product-name {
    padding: 15px 20px 0px 60px;
}
.product-name span{
    color: #919191;
    font-size: 21px;
}
.product-name p {
    font-size: 14px;
    color: #919191;
        margin-top: 15px;
}
.m-b-25{
    margin-bottom: 25px;
}
.websitelink{
    box-shadow: 0px 3px 6px #00000036;
    font-size: 14px;
    color: #3659DF;
        padding: 10px 15px;
        background-color: #fff;
}

.title-box{
        color: #F1F3FF;
    font-size: 14px;
    background-color: #00092B;
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px;
    width: auto;
}
.m-tl-5{
    margin-top: 5px;
    margin-left: 20px;
}
.lng-menu ul li{
    list-style: none;
}
.lng-menu ul{
    padding-top: 50px;
}
.lng-menu ul li a{
    color: #919191;
    font-size: 14px;
    font-weight: 500;
}
.client-logo ul{
    margin: 0px;
    padding: 0px;
}
.client-logo {
    margin-top: 45px;
}
.client-logo ul li {
    height: 80px;
    width: 80px;
    border: 1px solid #707070;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    margin: 5px;
    float: left;
}
.client-logo ul li  a img{
    width: 100%;
    object-fit: cover;
}
.talk-btn a{
    background-color: #3659DF;
    border-radius: 0px;
    box-shadow: 0px 3px 6px #D4DAFA;
    color: #F1F3FF;
    font-size: 16px;
    text-transform: uppercase;
        padding: 10px 20px;
}
.cum-btn a{
    padding: 10px 20px;
    background-color: #fff;
    color: #3659DF;
    font-size: 16px;
    box-shadow: 0px 3px 6px #D4DAFA;
    border-radius: 30px;
}
.social ul {
    padding: 0px;
    margin: 0px;

}
.social ul li{
    list-style: none;
    float: left;
     padding-right: 10px;
}
.talk-btn a img{
    padding-right: 5px;
}
.cum-btn a img{
    padding-right: 5px;
}
.cum-btn.m-tl-5 {
    margin-top: 30px;
}
.social.m-tl-5 {
       position: absolute;
    bottom: 20px;
}
.code-title {
    color: #4F4F4F;
    font-size: 32px;
    font-weight: 700;
    padding: 0px 15px;
    margin: 0px;
}
.p-t-70{
    padding-top: 70px !important;
}
.p-b-70{
    padding-bottom: 70px;
}
.category-box .p-name {
    color: #00092B;
    font-size: 16px;
    font-weight: 500;
}
.category-box .m-b-25 a img{
    width: 14px;
}
.category-box .add-to-cart{
    border:1px solid #707070;
    border-radius: 30px;
    padding: 4px 12px;
    font-size: 16px;
    color: #00092B;
    font-weight: 500;
    float: right;
}
.float-right.w-50 {
    width: 50%;
}
a:hover{
    text-decoration: none;
}
.category-box .btn-addtocart{
    background-color: #919191;
    border-radius: 0px;
}
.category-box .btn-addtocart img{
    width: auto;
        padding-right: 10px;
}
.ategory-bo .img-box{
    text-align: center;
}
.category-box .imgcode{
    text-align: center;
    width: 100%;
    margin: 5px 0px;
}
.category-box .imgcode a img{
    width: auto;
    padding-right: 8px;
}
.category-box .imgcode a {
    color: #919191;
    padding: 10px 20px;
    background-color: transparent;
}







.pro-list {
    padding: 0px 15px;
    margin: 0px;
    width: 100%;
}
.pro-list li {
    float: left;
    list-style: none;
    width: 20%;
}
hr {
    margin-top: -1px;
    border-top: 1px solid #707070 !important;
}
.p-t-40{
    padding-top: 40px;
}
.w-d-1{
    width: 13%;
    padding: 0px 15px;
}
.w-d-2{
    width: 22%;
    padding: 0px 15px;
}
.w-d-3{
    width: 20%;
    padding: 0px 15px;
    position: relative;
}
.w-40{
    width: 45%;
}
.w-60{
    width: 60%;
}
.add-vy label{
    width: 100%;
    text-align: center !important;
    padding: 0;
}
.add-vy .col3.m-t-90.w-74{
    margin: 80px auto;
    width: 55%;
}
.price-filter{
    height: 46px;
    width: 440px;
    display: flex;
    border-radius: 5px !important;
    border: 1px solid #0000005c;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 15px;
    color: #00092B;
}
div#slider-range {
    width: 49%;
    margin: 10px 15px 0px 25px;
}
.caption {
    width: 53%;
}
.detail-img{
    width: 60px;
    height: 60px;
    background-color: #00092B;
    border-radius: 50%;
    margin: 0 auto;
}
.detail-name p{
    margin: 0px;
    color: #00092B;
    font-size: 20px;
    font-weight: 700;
}
.detail-name span{
    color: #00092B;
    font-size: 14px;
}
.p-lr-30{
    padding: 0px 30px;
}
.details-box{
    margin-top: 20px;
   margin:25px;
    padding: 25px;
    box-shadow: 0px 0px 10px #ccc;
}
.bo-r{
    border-right: 0.5px solid #70707040;
    padding-left: 0px;
        padding-top: 2%;
}
.category-box-on .btn-addtocart img{
    width: auto;
    padding-right: 10px;
}
.category-box-on .btn-addtocart{
    box-shadow: 0px 0px 10px #5e5d5d59;
    background-color: #fff;
    color: #00092B;
    border-radius: 0px;
}
.category-box-on .img-box {
    border-radius: 10px;
    box-shadow: 0px 3px 6px #3659df4d;
    position: relative;
}
.p-mini-img ul{
    margin: 25px 8px;
    padding: 0px;
    width:100%;
}
.p-mini-img ul li {
    list-style: none;
    float: left;
    width: 78px;
    height: 78px;
    margin: 0px 5px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #3659df52;
}
.p-mini-img ul li a img{
    width: 100%;
}
.screen-btn img{
    padding-right: 5px;
        margin-top: -3px;
}
.pro-btn{
    width: 100%;
    position: relative;
}
.screen-btn{
    position: absolute;
    margin-left: 10px;
    padding: 10px 20px;
    color: #4F4F4F;
    font-size: 16px;
    float: left;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #3659df52;
    font-weight: 500;
}
.screen-btn:hover{
    color: #4F4F4F;
}
.screen-save{
    float: right;
    margin-right: 5px;
    position: absolute;
    right: 0;
}
.allpro-btn{
    margin-top: 65px;
    margin-left: 10px;
}
.allpro-btn a{
    color: #3659DF;
    font-size: 16px;
    font-weight: 500;
        text-decoration: underline;
}
.big-text{
    margin-top: 5%;
}
.big-text a{
    font-size: 32px;
    color: #00092B;
    font-weight: 500;
}
.s-text span{
    font-size: 16px;
    color: #707070;
    margin-right: 10px;
}
.s-text a{
    font-size: 9px;
    padding: 7px 25px 7px 15px;
    box-shadow: none;
}
.s-text a i {
    position: absolute;
    border: 4px solid #00092B;
    padding: 6px;
    font-size: 10px;
    background-color: #00092B;
    margin-top: -2px;
    border-radius: 50%;
    margin-left: 7px;
}
.runtime a{
    color: #919191;
    padding: 10px 20px 10px 0px;
}
.runtime {
    margin: 25px 10px 0px 0px;
}
.btn-to {
    margin-top: 25px;
}
.btn-to a {
    color: #00092B;
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 0px 3px 6px #3659df52;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-to a img{
    padding-right: 7px;
        margin-top: -2px;
}
.addcart{
    margin-top: 50px;
}
.addcart a{
    font-size: 18px;
     color: #fff;
    background-color: #3659DF;
    border-radius: 31px;
    box-shadow: 0px 3px 6px #3659df52;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 500;
}
.addcart a img{
    padding-right: 7px;
    margin-top: -2px;
}
.my-fluid-container {
    margin: 35px 0px 0px 0px;
}
.article{
    font-size: 16px;
    font-weight: 500;

}
.article a{
    margin-top: 150px; 
}
.right-title a{
    color: #4F4F4F;
    font-size: 16px;
    text-decoration: underline;
        margin-right: 20px;
}
.right-title {
    margin-top: 35px;
}
.last-btn a img{
    padding-right: 7px;
}
.last-btn a:first-child{
    background-color: #00092B;
    box-shadow: 0px 3px 6px #3659df52;
    color: #F1F3FF;
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: 500;
}
.last-btn a:last-child{
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px #3659df52;
    border-radius: 31px;
    color: #3659DF;
    font-weight: 500;
}
.last-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.p-l-45{
    padding-left: 45px;
    padding-top: 1%;
}




/* This line can be removed it was just for display on CodePen: */

.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #3659DF;
}

/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background: #3659DF;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
    width: 100%;
  border-radius: 2px;
}

.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #3659DF;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}

.my-fluid-container{
    width: 60%;
}
.article p{
    margin-bottom: 50px;
}

.cart-p-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    border:1px solid #707070;
}
.cart-p-img img{
    width: 100%;
}
.cart-p-name{
    margin-bottom: 0px;
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 500;
}
.cart-des{
    color: #919191;
    font-size: 12px;
    margin-bottom: 5px;
}
.cart-edit{
    color: #3659DF;
    font-size: 14px;
    text-decoration: underline;
}
.cart-select{
    border-radius: 0px;
    border: 1px solid #F1F3FF !important;
    border-color: transparent;
    background: transparent;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0;
}
.cart-seller{

    font-size: 14px;
    margin-top: 5px;
}
.cart-price{
    color: #00092B;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.cart-close{
    color: #919191;
    font-size: 20px;
}
.cart-title{
    color: #00092B;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}
.cart-total{
    background-color: #F6F6F6;
}
.cart-total td{
    border-top: none;
    text-align: right;
    color: #3659DF;
    font-size: 20px;
    font-weight: 500;
}
.border-top-none td{
    border-top: none;
}
.continue-browsing{
    margin-top: 10px;
}
.continue-browsing a{
    color: #00092B;
    text-decoration: underline;
    font-size: 14px;
}
.cart-tabel .table td, .table th {
    padding: 15px 10px;
}
.cart-checkout  {
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}
.cart-checkout a{
    background-color: #3659DF;
    color: #fff;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
.cart-bg-color{
    background-color: #F9FAFE;
    padding: 15px;
}
.cart-border-top td{
    border-color: #919191;
    padding: 10px 0px;
}
.cart-border-none td{
    border-top: none;
    padding: 10px 0px;
}
.cart-bg-color table{
    font-size: 14px;
}
.font-w{
    font-weight: 500;
    margin-bottom: 5px;
}
.m-b-5{
    margin-bottom: 5px;
}
.email{
    color: #4F4F4F;
    text-decoration: underline;
    margin-left: 5px;
}
.m-tt td{ 
    padding: 25px 0px;
}
.payment-manu{
    width: 100%;
    padding: 35px 0px;
}
.manu-ul li{
    list-style: none;
    float: left;
        margin: 5% 14%;
}
.manu-ul{
    padding: 0px;
}
.manu-ul li a{
    color: #00092B;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.manu-ul li span::before{
    content: '';
    width: 7px;
    height: 7px;
    background-color: #000;
    position: absolute;
    top: 100%;
    border-radius: 50%;
    margin-left: 25px;
    z-index: 999;
    text-align: center;
    margin: -65px auto;
    left: 0;
    right: 0;
}
.manu-ul li a.active span::after{
        content: '';
    width: 55px;
    height: 55px;
    background-color: #F9FAFE;
    position: absolute;
    top: -15%;
    border-radius: 50%;
    text-align: center;
    margin: -65px auto;
    left: -2px;
    right: 0;
}
/*.manu-ul li::after{
   content: '';
    width: 43%;
    height: 3px;
    background-color: #F9FAFE;
    position: absolute;
    top: 28px;
    text-align: center;
    left: 19%;
    right: 0;
}*/

.continue-msg a{
        width: 100%;
    position: absolute;
    left: 0;
    margin-top: 50px;
    margin-left: 80px;
    color: #3659DF;
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
}
.paymentbox .btn-addtocart {
    font-size: 8px;
}
.paymentbox .p-name , .p-d-text ,.p-price{
    font-size: 10px;
}
.paymentbox .p-price{
    margin-top: 5px;
}
.paymentbox .product-details{
    margin-top: 5px;
}
.product-box.paymentbox{
    margin: 0px;
}
.paymentbox .p-price img {
    width: 20%;
    margin-left: 5px;
}
.save-title{
    font-size: 20px;
    font-weight: 700;
    padding: 0px 15px;
}
.co-br {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: right;
    width: 100%;
}
.co-br a{
    text-decoration: underline;
    color: #00092B;
    font-size: 16px
}
.todat-box{
    border-radius: 5px;
    box-shadow: 0px 3px 6px #0000002e;
    height: 300px;
    position: relative;
}
.todat-box p{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: 0 auto;
    color: #4F4F4F;
    font-size: 20px;
}
.p-lrb-15{
    padding:0px 0px 30px 0px;
    border-bottom: 1px solid #70707066;
}
.weektitle{
    margin: 35px 0px 20px 0px;
}
.weektitle p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.weektitle span{
    font-size: 12px;
}
.daypost .p-name{
    font-size: 14px;
}
.daypost .p-save{
    background-color: #3659DF;
    border-radius: 24px;
    color: #fff;
    font-size: 12px;
    padding: 7px 15px;
    text-align: center;
}
.daypost .imgcode a{
    font-size: 10px;
    background-color: #3659DF;
    color: #fff;
    padding: 7px 34px 7px 15px;
}
.daypost .imgcode a i{
    background: #3659DF;
    padding: 8px;
    font-size: 9px;
    margin-top: -2px;
    box-shadow: none;
    border: 3px solid #00092b;
}
.timepost{
    background: #000;
    padding: 7px !important;
    float: right;
    border-radius: 22px;
    font-size: 10px;
    color: #F1F3FF;
}
.timepost img{
    width: auto;
}
.daypost .code{
    margin: 0px;
    width: 100%;
    padding: 0px 5px;
}
.daypost .btn-addtocart{
    right: inherit;
    background-color: #000;
    border-radius: 0;
    box-shadow: none;
        padding: 3px 10px;
        color: #F9FAFE;
    font-size: 13px;
}
.daypost .btn-addtocart img{
    width: auto;
    border-radius: 0px !important;
    margin-left: 3px;
}
.save-btn img{
    width: auto;
}
a.save-btn {
        padding: 2px 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #000;
}
.daypost .img-box{
    border-radius: 5px;
    background-color: transparent;
    box-shadow: none;
    height: 250px;
    overflow: hidden;
}
.fiximg{
        height: 250px;
    object-fit: cover;
}
.daypost .img-box::-webkit-scrollbar-track
{
    background-color: #00092B;
    border-radius:0px 22px 22px 0px;
}

.daypost .img-box::-webkit-scrollbar
{
    width: 6px;
    background-color: #ccc;
}

.daypost .img-box::-webkit-scrollbar-thumb
{
    background-color: #ccc;
    border-radius: 22px;
}
.daypost .img-box img{
    border-radius: 5px;
}
.product-box.daypost{
    margin: 0px;
}
.sidemane {
    width: 70px;
    height: 100vh;
    background-color: #00092B;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 6px #00000047;
}
.openicon{
    text-align: center;
}

.uploadnewcode .btn-addtocart{
    bottom: auto;
    top: 20%;
    background-color: #3659DF;
    border-radius: 30px;
}
.img-box.uploadnewcode {
    border: 2px dashed #0000004a;
    height: 216px;
    background-color: #fff;
}
.uploadnewcode a{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35%;
    margin: 0 auto;
    text-align: center;
}
.wd2 {
    position: absolute;
    bottom: 0;
}
.wd2 .client-logo{
    margin-top: 0px;
}
.sellcode ul li a img{
	width: 80%;
}
.sellcode ul li{
	margin: 20px 5px;
}

.selladdproduct .modal-header, .modal-body{
	margin: 5px 35px;
	padding: 7px 0px;
}
.selladdproduct .modal-header h5{
	font-weight: 400;
}
.selladdproduct label{
	font-size: 14px;
}
.form-group.row {
    margin-bottom: 1em;
}
.p-height .img-box.uploadnewcode{
	height: 150px;
}
.m-t-30{
	margin-top: 30px !important;
}
.bor-b:focus{
    outline: 0;
    box-shadow: none;
}
.form-control{
	border-color: #000;
}
.form-control:focus{
	outline: 0;
    box-shadow: none;
}
.bor-b{
	border-radius: 0px;
	border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.chosen-container{
	border-radius: 0px;
	border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.chosen-container-multi .chosen-choices{
	border-color: transparent;
	border:none !important;
}



.form{
	margin: 20px 0px;
  	width: auto;
  	height: 150px;
    border: 2px dashed #0000004a;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #0000001c;
}
.form p{
  	margin: 15px;
  	text-align: center;
    background-color: #3659DF;
    border-radius: 30px;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px #00000036;
    color: #fff;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 12px;
    font-weight: 600;
}
.form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  	height: 150px;
  	cursor: pointer;
}
.ortext{
	text-align: center;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
}
.ortexta{
	text-align: center;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 12px;
}
.btn-submit{
	text-align: center;
    background-color: #3659DF;
    border-radius: 30px;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px #00000036;
    color: #fff;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 600;
}
.websitelink_a{
	box-shadow: transparent;
    font-size: 14px;
    color: #3659DF;
    padding: 0;
    background-color: transparent;
}
.websitelink img{
	width: 3%;
    margin-left: 5px;
}
.chosen-container{
	width: 100% !important;
}
div#slider-range1 {
    margin-top: 10px;
    margin-left: 20px;
}
.co-buyer{
	color: #3659DF;
    position: absolute;
    margin: 15px auto;
    left: 0;
    right: 0;
    top: 0;
    text-decoration: underline;
}

.signinpopup .modal-body{
	padding: 0px;
	margin: 0px;
}
.signinpopup .modal-content {
	    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 6px 10px #4969e25e;
}
.signinpopup .buyer-right{    box-shadow: none;}
.m-t-20{
	margin-top: 20px;
}
.close:focus, .close:hover{
	outline: none;
}

.pul-img img{ width: auto; }











.MultiCheckBoxDetailBody::-webkit-scrollbar-track
{
	background-color: #fff;
}

.MultiCheckBoxDetailBody::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

.MultiCheckBoxDetailBody::-webkit-scrollbar-thumb
{
	background-color: #fff;
	box-shadow: 0px 3px 6px #ccc;
	border-radius: 0px;
}

.multiple-select1 .MultiCheckBox{
	width: 100% !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #000;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}
.multiple-select1 .MultiCheckBoxDetail{
	width: 100% !important;
	border:none !important;
	border-radius: 0px;
}




.form-control:focus{
	border-color: #000;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100% !important;
	background-color: transparent !important;
	border-bottom: 1px solid;
}
.btn-light{
	background-color: transparent;
}
.btn-light:hover{
	background-color: transparent;
}
.dropdown-item.active, .dropdown-item:active{
	background-color: transparent;
	color: #000;
	font-weight: 700;
}
.header-sing{
	color: #F9FAFE;
	font-size: 12px;
	    margin: 10px;
}
.header-sing a{
	color: #F9FAFE;
	text-decoration: underline;
}
.nav-item i{
	margin-right: 5px;
}
.nav-link:hover{
	color: #fff;
}
.p-50{
	padding:50px;
}
.btn-name{
	color: #fff;
	text-transform: uppercase;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
}
.dropdown-item{
    font-size: 14px;
}
.dropdown-menu{
    border-radius: 0px;
}

.nav-header {
    border: none !important;
    padding: 15px !important;
    
}
.lastmenu.show{
    left: inherit !important;
    right: 0;
}
.nav-header.focus, .nav-header:focus{
    box-shadow: none;
}
.nav-header.dropdown-toggle::after{
    display: none;
}


.input-group.searchbox.mb-3 {
    position: absolute;
    top: 75%;
    right: 25px;
}
.searchbox input{
    border-radius: 0px;
    border-color: #fff;
}
.searchbox .input-group-append .btn-success{
    border-radius: 0px;
    border-color: #fff;
    background: #00092B;
    box-shadow: 0px 3px 6px #0000002e;
}
.searchbox .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.searchbox .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #00092B;
    border-color: #00092B;
}
#myDIV {
    display: none;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}