<section class="p-tb-70">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6 col-md-8 col-lg-6 col-xl-8 col-12">
                <h1 class="big-title">Welcome to CodePlace!</h1>
                <div class="sign-box">
                    <p>CodePlace</p>
                    <h1>Your Code </h1>
                    <p class="height-75">Your Place</p>

                    <nav>
                        <a routerLink="/signup" class="btn btn-botton-l p-n">Sign up</a>
                        <a routerLink="/signin" class="btn btn-botton-r p-n">Log in</a>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>

