<section class="p-tb-70">
		
    <div class="container-fluid">
        <div class="row p-lr-30">
            
            <div class="col-md-12 col-lg-7 col-xl-7">
                
                <div class="continue-msg">
                    <a href="#">Payment has been done. Email Sent!</a>
                </div>
                <div class="co-br">
                    <nav>
                        <!-- TODO: add class active on click to be visible -->
                          <a routerLink="" class="nav-link">
                            Continue Browsing
                          </a>
                      </nav>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-12 col-lg-4 col-xl-4 border-left">
                <p class="save-title">Saved Folder</p>
                <app-allcodes></app-allcodes>
            </div>
        </div>
    </div>
</section>
