<section class="p-tb-70 bg-color-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group  has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control">
                    <div class="input-group-append serbtn">
                        <button class="btn btn-secondary s-btn-l" type="button">
                            PEOPLE
                        </button>
                        <button class="btn btn-secondary s-btn-r" type="button">
                            COMPANY
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="display-flax">
                    <div class="code">
                        <a href="#"> codeshop reviewed <i class="fa fa-check"></i></a>						
                    </div>
                    <div class="button-switch">
                      <input type="checkbox" id="switch-blue" class="switch" checked />
                      <label for="switch-blue" class="lbl-off">Off</label>
                      <label for="switch-blue" class="lbl-on">On</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-tb-30">
            <div class="col-md-12 col-lg-12 col-xl-12 p-0">
                <div class="filter-row">
                    <div class="multiple-select">
                        <select id="test">
                            <option value="1">American Black Bear</option>
                            <option value="2">Asiatic Black Bear</option>
                            <option value="3">Brown Bear</option>
                            <option value="4">Giant Panda</option>
                            <option value="5">Sloth Bear</option>
                            <option value="6">Sun Bear</option>
                            <option value="7">Polar Bear</option>
                            <option value="8">Spectacled Bear</option>
                        </select>
                    </div>
                    <div class="minitbox">
                        <div class="">
                            <p>Runtime <!-- ( <span id="slider-range-value11"></span> - <span id="slider-range-value22"></span>) --></p> 
                        </div>
                        <div id="slider-range1"></div>
                        
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <form>
                                    <input type="hidden" name="min-value" value="">
                                    <input type="hidden" name="max-value" value="">
                                </form>
                            </div>
                        </div>
                        <div class="text-m">	
                            <span>mins</span>
                        </div>
                    </div>

                    <div class="price-filter">
                        <div class="caption">
                            <p>Price Range ( <span id="slider-range-value1"></span> - <span id="slider-range-value2"></span>)</p> 
                        </div>
                        <div id="slider-range"></div>
                        
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <form>
                                    <input type="hidden" name="min-value" value="">
                                    <input type="hidden" name="max-value" value="">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-allcodes></app-allcodes>
</section>
